@font-face {
  font-family: 'iconfont';  /* project id 1893312 */
  src: url('//at.alicdn.com/t/font_1893312_jumowx5aewq.eot');
  src: url('//at.alicdn.com/t/font_1893312_jumowx5aewq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1893312_jumowx5aewq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1893312_jumowx5aewq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1893312_jumowx5aewq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1893312_jumowx5aewq.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rss:before{
  content: '\e817;';
}

.icon-gitee:before {
  content: "\e602";
}

.icon-github1:before {
  content: "\e601";
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-huifu:before {
  content: "\e60e";
}

.icon-github:before {
  content: "\e677";
}

.icon-QQ:before {
  content: "\e651";
}

