{% extends 'base.html' %}
{% load blog_filter %}
{% load likes_tags %}
{% load comment_tags %}
{% load static %}

{# 页面标题嵌套 #}
{% block title %}
    {{ blog.title }}
{% endblock %}



{% block header_extends %}
    <link rel="stylesheet" href="/static/blog/css/blog.css">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{# 页面内容嵌套 #}
{% block content %}
    <div class="page-link wow fadeInDown" data-wow-delay="0.6s">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>{{ blog.title }}</h3>
                    <span>
                        <a class="page-link-span" href="{% url 'home' %}">HOME</a>
                         -
                        <a class="page-link-span" href="{% url 'blog_list' %}">博客</a>
                         -
                        <span>Detail</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container wow fadeInUp" data-wow-delay="0.6s">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="blog-img">
                    <img src="{{ blog.pic_800_450.url }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div id="main-content" class="container">
        <!-- 文章列表 -->
        <div class="row">
            <div class="col-md-8 col-lg-9 col-xs-12">
                <div class="blog-main wow fadeInUp" data-wow-delay="0.3s">
                    <div class="blog-detail-content">
                        <h3 class="blog-title">{{ blog.title }}</h3>
                        <div>{{ blog.content|safe }}</div>
                        <div class="blog-more">
                            <ul class="pager">
                                {% if previous_blog %}
                                    <li class="previous direct"><a class="direct"
                                                                   href="{% url 'blog_detail' previous_blog.pk %}">
                                        上一篇: {{ previous_blog.title }}</a></li>
                                {% endif %}
                                {% if next_blog %}
                                    <li class="next direct"><a class="direct"
                                                               href="{% url 'blog_detail' next_blog.pk %}">
                                        下一篇: {{ next_blog.title }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <p>最后修改日期:{{ blog.last_update_time|date:"Y-m-d G:i:s" }}</p>
                    </div>
                </div>
                <div class="blog_comment-list wow fadeInUp" data-wow-delay="0.3s">
                    <div class="comment-list-head"><h3>评论列表</h3>
                        <p>一共<span id="comment_count">{% get_comment_count blog %}</span>条评论</p>
                    </div>
                    <div id="comment-list">
                        {% get_comment_list blog as comments %}
                        {% for comment in comments %}
                            <div class="media comment-list-detail">
                                <div class="media-left media-middle comment-list-detail-img">
                                    <img class="media-object img-circle" src="/static/blog/img/comment-list-img.jpg"
                                         alt="...">
                                </div>
                                <div id="root_{{ comment.pk }}" class="media-body comment-list-detail-body">
                                    <h5 class="media-heading comment-list-detail-body-user">{{ comment.user.get_nickname_or_username }}</h5>
                                    <div id="comment-{{ comment.pk }}"
                                         class="comment-list-detail-body-content">{{ comment.text|safe }}</div>
                                    <div class="comment-list-detail-body-info">
                                        <span class="comment-list-detail-body-info-time">{{ comment.comment_time|date:"Y-m-d H:i" }}</span>
                                        <span class="comment-like"
                                              onclick="likeChanged(this,'{% get_content_type comment %}',{{ comment.pk }})">
                                        <span class="like-icon iconfont icon-dianzan {% get_like_status comment %}"></span>
                                        <span class="like-num">{% get_like_count comment %}</span>
                                    </span>
                                        {% if user.is_authenticated %}
                                            {% if not comment.user.get_nickname_or_username == user.get_nickname_or_username %}
                                                <span><a href="javascript:reply({{ comment.pk }});">回复</a></span>
                                            {% endif %}
                                        {% else %}
                                            <span><a href="javascript:void(0)"
                                                     onclick="$('#loginModal').modal('show');">回复</a></span>
                                        {% endif %}
                                    </div>
                                    {# 子级回复 #}
                                    {% for reply in comment.root_comment.select_related.all %}
                                        <div class="media reply-list-detail comment-list-detail">
                                            <div class="media-left media-middle comment-list-detail-reply-img hidden-xs hidden-sm">
                                                <img class="media-object img-circle"
                                                     src="/static/blog/img/comment-list-img.jpg"
                                                     alt="...">
                                            </div>
                                            <div class="media-body reply-list-detail-body comment-list-detail-body">
                                                <h5 class="media-heading comment-list-detail-body-user">{{ reply.user.get_nickname_or_username }}</h5>
                                                <span class="hidden-sm hidden-xs"
                                                      STYLE="FONT-SIZE: 13px;font-weight: 600;color: #666;">REPLY</span>
                                                <a class="hidden-sm hidden-xs"
                                                   href="javascript:void(0)">@{{ reply.reply_to.get_nickname_or_username }}</a>
                                                <span class="hidden-sm hidden-xs">:</span>
                                                <div id="comment-{{ reply.pk }}"
                                                     class="comment-list-detail-body-content">
                                                    {{ reply.text|safe }}
                                                </div>
                                                <div class="comment-list-detail-body-info">
                                                    <span class="comment-list-detail-body-info-time">{{ reply.comment_time|date:"Y-m-d H:i" }}</span>
                                                    <span class="reply-like"
                                                          onclick="likeChanged(this,'{% get_content_type reply %}',{{ reply.pk }})">
                                                    <span class="like-icon iconfont icon-dianzan {% get_like_status reply %}"></span>
                                                    <span class="like-num">{% get_like_count reply %}</span>
                                                </span>
                                                    {% if user.is_authenticated %}
                                                        {% if not reply.user.get_nickname_or_username == user.get_nickname_or_username %}
                                                            <span><a
                                                                    href="javascript:reply({{ reply.pk }});">回复</a></span>
                                                        {% endif %}
                                                    {% else %}
                                                        <span><a href="javascript:void(0)"
                                                                 onclick="$('#loginModal').modal('show');">回复</a></span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% empty %}
                            <p class="none-comment" style="text-align: center">暂无评论~</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="blog_submit-comment wow fadeInUp" data-wow-delay="0.3s">
                    <h3>提交评论</h3>
                    {% if user.is_authenticated %}
                        <form id="comment-form" action="{% url 'submit_comment' %}" method="POST">
                            <label>{{ user.get_nickname_or_username }},说点什么吧:
                            </label>
                            <div id="reply-content-container" style="display: none">
                                <p>回复:</p>
                                <div id="reply-content"></div>
                                <span class="cancle-reply">取消回复</span>
                            </div>
                            {% csrf_token %}
                            {% get_comment_form blog as comment_form %}
                            {% for filed in comment_form %}
                                {{ filed }}
                            {% endfor %}
                            <span id="comment-error" class="text-danger pull-right"></span>
                            <input class="submit-comment-button btn btn-primary"
                                   type="submit" value="评论">
                        </form>
                    {% else %}
                        <div class="comment-login">
                            <a href="javascript:void(0)" onclick="$('#loginModal').modal('show');">登录</a>后才可以发表评论哦~
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="post-sidebar" class="hidden-sm hidden-xs col-md-4 col-lg-3 wow fadeInRight" data-wow-delay="0.6s">
                <div class="post-info">
                    <h3>文章详情</h3>
                    <ol class="blog-info-detail">
                        <li>
                            发表：{{ blog.create_time|date:"Y年m月d日" }}</li>
                        <li>
                            更新：{{ blog.last_update_time|date:"Y年m月d日" }}</li>
                        <li>
                            分类：<a
                                href="{% url 'blog_with_type' blog.blog_type.pk %}">
                            {{ blog.blog_type }}
                        </a></li>
                        <li>
                            本文字数：{{ blog.content|striptags|TextCount }}</li>
                        <li>
                            阅读：{{ blog.get_read_num }}位小伙伴围观
                        </li>
                    </ol>
                </div>
                <div class="article-toc">
                    <h3>目录</h3>
                    <div>
                        {{ toc|safe }}
                    </div>
                </div>
                <div style="display: inline-block">
                    <div class="like-box" onclick="likeChanged(this,'blog',{{ blog.pk }})">
                        <i class="like-icon iconfont icon-dianzan {% get_like_status blog %}"></i>
                    </div>
                    <p class="article-like-num">{% get_like_count blog %}赞</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框 -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">博客登录</h4>
                </div>
                <form id="login-modal-form" action="{% url 'login_for_modal' %}" method="POST">
                    <div class="modal-body">
                        {% csrf_token %}
                        {% for filed in login_modal_form %}
                            <span class="login-modal-lable">{{ filed.label }}</span>
                            {% if filed.label == '密码' %}
                                <a href="{% url 'forgot_password' %}?from={{ request.get_full_path }}"
                                   class="login-modal-forget text-danger pull-right">Forget?</a>
                            {% endif %}
                            {{ filed }}
                        {% endfor %}
                        <span id="login-modal-tip" class="text-danger pull-right"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="login-modal-ok btn btn-primary">登录</button>
                        <div class="login-modal-register"><span class="text-primary">没有账号?<a
                                href="{% url 'register' %}?from={{ request.get_full_path }}">点击创建</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

