header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
}

.nav-dropdown-menu {
    background-color: #ffffff !important;
}

.sticky-nav {
    background-color: #ffffff !important;
    margin-bottom: 0 !important;
}

.sticky {
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
}

.moveTop {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.4);
    top: -200px;
    position: fixed;
}

.slideToUp {
    padding-top: 0;
    padding-bottom: 0;
}

.page-link {
    width: 100%;
    background-color: #2A2A2A;
    margin-bottom: 5em;
    color: #ffffff;
    padding: 70px 0;
}

.page-link h3 {
    font-weight: bold;
}

.page-link-span {
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}

.blog-types {
    list-style-type: none;
}

.blog:not(:last-child) {
    margin-bottom: 2em;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 2em;
}

.blog h3 {
    margin-top: 0.5em;
}

.blog-main {
    background: #ffffff;
    padding: 25px;
}

#post-sidebar {
    position: sticky;
    top: -200px;
}

.blog-img {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-bottom: 42px;
    box-shadow: 1px 1px 5px #eeeeee;
}

.blog-img img {
    width: 100%;
}


.blog-main .blog-detail-content {
    overflow: hidden;
    word-break: break-all;
}

.blog-title {
    font-weight: bold;
}

.blog-info{
    padding: 20px 15px 5px 15px;
    background: #ffffff;
    position: relative;
    font-size: 12px;
}

.post-info {
    padding: 20px 25px 5px 25px;
    background: #ffffff;
    position: relative;
}

.post-info h3, .article-toc h3 {
    font-size: 20px;
    margin-top: 0;
}

.blog-info-detail {
    line-height: 35px;
    list-style-type: none;
    font-weight: bold;
    color: #2a2a2a;
}

.article-toc {
    padding: 20px 25px 5px 25px;
    background: #ffffff;
    margin-top: 42px;
}

#post-sidebar h3, .blog-sort-content h3, .blog-date-content h3 {
    position: relative;
}

#post-sidebar h3:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 30px;
    top: -5px;
    right: 0;
    left: -25px;
    bottom: 0;
    background: #F5AC37;
}

.blog-sort-content h3:before, .blog-date-content h3:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    top: 6px;
    right: 0;
    left: -10px;
    bottom: 0;
    background: #F5AC37;
}

.article-toc .toc {
    font-weight: bold;
    line-height: 30px;
}

.readall {
    font-size: 0.8em;
    float: right;
}

.color-black {
    color: black;
}

.blog-content {
    width: 100%;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    font-size: 1.2em;
    margin-top: 4em;
}

.paginator {
    text-align: center;
}

.paginator a:hover {
    color: #ffffff !important;
    background: #337ab7 !important;
}

.blog-more {
    border-top: 2px solid #dddddd;
    margin-top: 4em;
    text-align: center;
}

.like-box {
    margin-top: 22px;
    width: 48px;
    height: 48px;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
    text-align: center;
    line-height: 50px;
    background: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    color: #969696;
}

.like-box i{
    font-size: 22px;
}

.article-like-num{
    width: 48px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #969696;
    padding-top: 10px;
}

.active {
    color: #F5AC37;
}

.like span {
    padding-right: 0.3em;
}

.like:hover {
    color: #F5AC37;
    cursor: pointer;
    transition: 0.5s;
}

.comment-list-detail-body-info .like-icon {
    font-size: 16px;
    padding-right: 0 !important;
}


.blog-more > .pager {
    margin-top: 2.2em !important;
}

.blog-more > .pager > li > a {
    border-radius: unset !important;
    border: none !important;
    font-size: 16px;
}

.blog-more > .pager > li > a:hover {
    text-decoration: underline !important;
    background: transparent !important;
}

.blog_comment-list, .blog_submit-comment {
    background: #ffffff;
    margin-top: 2em;
    padding: 1em;
}

.comment-list-head {
    border-bottom: 1px solid silver;
    margin-bottom: 3em;
}

.comment-list-head h3 {
    margin-top: unset !important;
    padding: 0.5em;
}

.comment-list-head p {
    padding-top: 0.5em;
    font-size: 14px;
    color: #a6a6a6;
}

.blog_submit-comment .input-group {
    padding-bottom: 2em;
}

.blog_submit-comment h3 {
    margin-top: unset !important;
    padding: 0.5em;
}

#comment-form {
    border-top: 1px solid silver;
}

#comment-form label {
    padding: 1em 0;
}

.comment-login {
    width: 100%;
    height: 200px;
    line-height: 180px;
    color: #888;
    text-align: center;
    font-size: 20px
}

.django-ckeditor-widget {
    width: 100%;
}

.django-ckeditor-widget .cke_top {
    background: transparent;
}

.django-ckeditor-widget #cke_id_text {

}

.cke_button:hover {
    background: none !important;
    border: 1px solid #5acfb8 !important;
}

.blog_submit-comment input {
    border: none;
    background-color: #03a9f4;
    margin-top: 1em;
    width: 100px;
}

.blog_submit-comment input:hover {
    background: #5acfb8;
}

.comment-list-detail {
    padding: 5px;
}

.comment-list-detail-img, .comment-list-detail-reply-img {
    padding-right: 1em !important;
}

.comment-list-detail-img > img {
    width: 48px !important;
    height: 48px !important;
}

.comment-list-detail-reply-img > img {
    width: 36px !important;
    height: 36px !important;
}

.comment-list-detail-body {
    border-bottom: 1px dashed #eeeeee;
}

.comment-list-detail-body-user {
    color: #5acfb8;
    font-weight: bolder;
}

.comment-list-detail-body-content {
    font-size: 15px;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.comment-list-detail-body-content p {
    margin: 0 !important;
    font-size: 13px;
}

.comment-list-detail-body-info {
    color: #888888;
    font-size: 13px;
    padding: 5px 0;
}

.comment-list-detail-body-info span {
    padding-right: 1.2em !important;
}

.comment-list-detail-body-info .comment-like:hover {
    color: #F5AC37;
    cursor: pointer;
    transition: 0.3s;
}

.comment-list-detail-body-info .comment-like {
    padding: 0 !important;
}

.media-middle {
    vertical-align: unset !important;
}

.reply-list-detail {
    padding-bottom: unset !important;
    padding-right: unset !important;
}

.reply-list-detail-body {
    padding-bottom: unset !important;
    border: none !important;

}

.comment-list-detail-body-info .reply-like:hover {
    color: #F5AC37;
    cursor: pointer;
    transition: 0.3s;
}

.comment-list-detail-body-info .reply-like {
    padding: 0 !important;
}

.login-modal-user, .login-modal-password {
    margin-bottom: 1em;
}

.login-modal-lable {
    font-weight: bold;
}

.login-modal-ok {
    width: 100%;
}

.login-modal-forget {
    font-size: 13px;
}

.login-modal-register {
    width: 100%;
    margin-top: 1em;
    text-align: center;
}

.blog-list-toggle {
    position: relative;
    top: 5px;
    margin-bottom: 0;
    left: 15px;
}

.blog-list-toggle input {
    display: none;
}

.blog-list-toggle .toggle-style {
    width: 60px;
    height: 20px;
    background: #cccccc;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    margin: 0;
    border-radius: 5px;
    font-size: 12px !important;
    color: #888;
    font-weight: normal;
    line-height: 20px;
}

.blog-list-toggle .toggle-style:before {
    content: '列表';
    width: 30px;
    text-align: center;
    height: 20px;
    border: 1px solid #ccc;
    position: absolute;
    background: #ffffff;
    border-radius: 4px;
}

.blog-list-toggle input:checked + .toggle-style {
    background: #03a9f4;
}

.blog-list-toggle input:checked + .toggle-style:before {
    content: '卡片';
    left: 30px;
}

.blog-list-content, .blog-sort-content, .blog-date-content {
    border-radius: unset;
    border: unset !important;
}

.panel-heading {
    padding: 0;
    background: unset !important;
    border: unset !important;
}

.panel-title {
    font-size: 18px;
    line-height: 25px;
    border-bottom: 1px solid #f5f5f5;
    margin: 0 9px;
    padding: 10px 10px;
    background: #ffffff;
}

.panel-title span {
    margin-right: 10px;
}

.change-blog-list-back {
    background: unset;
}

.change-blog-card-padding {
    padding: 0 !important;
}

.show-card {
    display: inline-block !important;
}

@media (min-width: 768px) {
    .blog-as-card {
        width: 50%;
        margin-left: -2px;
    }

}

.blog-as-card {
    padding: 0 10px;
    max-width: 100%;
    margin-top: 1em;
    display: none;
    vertical-align: top;
    background: transparent;
}


.blog-as-card .card-img {
    border: 1px solid #f5f5f5;
}

.blog-as-card img {
    width: 100%;
}

.blog-as-card .card-content {
    display: inline-block;
    padding: 15px;
    background: #ffffff;
    width: 100%;
    overflow: hidden;
}


.card-blog-title h4 {
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
}

.card-blog-title a {
    font-weight: bold;
}

.card-blog-info {
    text-align: center;
}

.card-blog-info .blog-info{
    border-top: 1px solid #cccccc;
    border-radius: unset;
}

.search {
    background-color: #ffffff;
    padding: 10px;
    transition: all .3s ease-in;
    margin-bottom: 20px;
}

.search .input-group input {
    height: 40px;
}

.search .input-group button {
    background-color: #666;
    padding: 13px 20px !important;
    border: none;
    transition: all .25s ease-in;
    outline: none !important;
}

.search .input-group input:focus + .input-group-btn button {
    background-color: #e33e33;
}

.cancle-reply {
    float: right;
    color: #5acfb8;
    text-decoration: underline;
    cursor: pointer;
}

#reply-content-container {
    line-height: 25px;
}

#reply-content-container p, #reply-content {
    display: inline-block;
}

.blog .highlighted{
    color: #F5AC37;
}